.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.sidebar-header {
  padding: 15px;
  margin-top: 25px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.sidebar-header::after {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  background-color: #EFEFEF;
  margin: 10px auto 0;
}


.logo {
  margin-bottom: 25px;
  text-align: center;
}

.user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 5px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.user-icon {
  font-size: 20px;
  color: #444;
  margin-right: 13px;
  flex-shrink: 0;
}

.user-text {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout-btn {
  all: unset;
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #444;
  margin-left: auto; 
}

.logout-btn:hover {
  color: #2320F1;
  background: none !important;
}

.sidebar-nav {
  flex: 1;
  padding: 5px 0;
  overflow-y: auto;
}

.sidebar-menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 6px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
  border-left: 3px solid transparent;
}

.sidebar-menu-item.active {
  background-color: #2320F1;
  color: #ffffff;
  border-radius: 15px;
}

.menu-icon {
  margin-right: 12px;
  font-size: 18px;
  width: 20px;
  text-align: center;
}

.menu-label {
  font-size: 15px;
  font-weight: 600;
}

.sidebar-footer {
  padding: 15px;
  background-color: #ffffff;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .sidebar-nav {
    max-height: 300px;
  }
} 