<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ASPNETCORE_URLS" value="https://localhost:7001;" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=pwd_final;Uid=root;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration> 